extends ../layout.pug

block content
    h1= title

    ul
    each project in project_list
        li
            a(href=project.url) #{project.name}
                //(#{project.date_of_creation})

    else
        li There are no projects
