doctype html
html
    include includes/head.pug

    body
        include includes/nav.pug
        include includes/header.pug

        main#main
            .ui.container
                block content

        include includes/footer.pug


