<!DOCTYPE html>
<html>
    <head>
        <title><%= projectTitle %></title>
        <link rel='stylesheet' href='/stylesheets/showcase.css' />
    </head>
    <body>
        <h1><%= projectTitle %></h1>

    </body>
</html>
