extends ../layout

block navbar
    nav.ui.menu.sticky
        a.item(href='/') Home
        a.item(href='/about') About
        a.item(href='/catalog') Catalog
        a.item(href='/projects') Projects
        a.item(href='/photography') Photography
        a.item(href='/contact') Contact
        middle.ui.item
            a.item(href='/death_throes') Death Throes (Most Recent Project)


