extends ../layout

block contact
    div.ui.container
        div.ui.grid
            div.ui.four.wide.column
                h2= 'Contact Me'

                p.
                    I'm always open to new opportunities, so if you have any questions or comments, please feel free to contact me.

                p.
                    If you would like to contact me, please send me an email at
                    a(href='mailto:mime9599@colorado.edu') mime9599@colorado.edu

                p.
                    Call me at
                    a(href='tel:631-241-6006') 631-241-6006


