extends ../layout

block content
    section: .ui.segment.sidebar
        a.item(href='#') Introduction
        a.item(href='#') The Project
        a.item(href='#') The Process
        a.item(href='#') The Results
        a.item(href='#') Citation

    div(class='ui container')
        div
            h2= 'Navigation'

            ul
                li
                    a.item(href='#Intro') Introduction
                li
                    a.item(href='#') The Project
                li
                    a.item(href='#') The Process
                li
                    a.item(href='#') The Results
                li
                    a.item(href='#') Citation
                li
                    a(href='https://github.com/MicMetz/death-throes') GitHub Repository
                li
                    a(href='https://webdevgroupcu.org/mime9599/digital-animations/death-throes/dist/') Live Demo

        br
        br

        div
            p#Intro Death Throes was heavily influenced by the indie game
               a(href="https://store.steampowered.com/app/422970/Devil_Daggers/") "Devil Daggers".




