extends ../layout

block content
    div(class='ui container')
        br
        br

        div(class='project-nav')
            div.ui.three.item.menu
                a(class = 'item active') Documentation
                a(class = 'item') Code
                a(class = 'item') Demo

        br
        br

        div(id='documentation' class='ui container')
            h2(class="ui header")= 'Navigation'
            ul(style='list-style-type: none;')
                li(class='ui item doc active' id='li-intro')
                    a.item(href='#Intro' onclick='showDoc("li-intro", "Intro")') Introduction
                li(class='ui item doc' id='li-project')
                    a.item(href='#Project' onclick='showDoc("li-project", "Project")') The Project
                li(class='ui item doc' id='li-process')
                    a.item(href='#Process' onclick='showDoc("li-process", "Process")') The Process
                li(class='ui item doc' id='li-result')
                    a.item(href='#Result' onclick='showDoc("li-result", "Result")') The Result
                li(class='ui item doc' id='li-citation')
                    a.item(href='#Citation' onclick='showDoc("li-citation", "Citation")') Citation
                li
                    a(href='https://github.com/MicMetz/death-throes') GitHub Repository
                li
                    a(href='https://webdevgroupcu.org/mime9599/digital-animations/death-throes/dist/') Live Demo

                script.
                    function showDoc(id, content) {
                        console.log(id);
                        var doc = document.getElementsByClassName('doc');
                        for (var i = 0; i < doc.length; i++) {
                            if (doc[i].id === id) {
                                doc[i].classList.add('active');
                            } else {
                                doc[i].classList.remove('active');
                            }
                        }
                        var sec = document.getElementsByClassName('section');
                        for (var i = 0; i < sec.length; i++) {
                            if (sec[i].id === content) {
                                sec[i].style.display = 'block';
                            } else {
                                sec[i].style.display = 'none';
                            }
                        }
                    }




            div.section#Intro(class='ui piled segment active' style='display: block;')
                h3.ui.segment Introduction
                img(src='documentation/DevilDaggers.jpg' alt='Devil Daggers' style='width: 100%;')
                p.ui.segment
                    span
                        |    My idea behind Death Throes was heavily influenced by the indie game&nbsp;
                        a(href="https://store.steampowered.com/app/422970/Devil_Daggers/") "Devil Daggers".
                        |    However due to asset limitations, I was unable to create a game that was as visually appealing as the original.
                        |    So I instead settled for a more traditional, yet still visually appealing, approach with a medieval theme under the same concept.
            div.section#Project(class='ui piled segment' style='display: none;')
                h3.ui.segment The Project
                img(src='documentation/images/LobbyCreation.PNG' alt='Lobby Creation' style='width: 100%;')
                p.ui.segment
                    span
                        |    The primary assets used in this project were assembled from and with a variety of sources, but the most key asset was&nbsp;
                        a(href="https://www.Unity.com/") Unity's 3D editor.
                    br
                    br
                    span
                        |    Also of note, is the engine behind the game, a javascript WebGL library called&nbsp;
                        a(href="https://threejs.org/") THREE.js.
                        |    This library was used to render the 3D environment, the 3D models, their animations, lighting, and the physics.
                        |    THREE.js was also used to create the UI, which was a combination of HTML and CSS.
                    br
                    ul
                        li The game logic was created using the&nbsp;
                            a(href="https://en.wikipedia.org/wiki/Observer_pattern") Observer Pattern.

                        li The UI was created using the&nbsp;
                            a(href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller") MVC Pattern.

                        li The user input was created using the&nbsp;
                            a(href="https://en.wikipedia.org/wiki/Command_pattern") Command Pattern.
            div.section#Process(class='ui piled segment' style='display: none;')
                h3.ui.segment The Process


        //div(id='code' class='ui stacked segment' style='display: none;')
        div(id='code' class='ui stacked segment' style='display: none;')
            h2(class="ui header")= 'Code'

            p
                span
                    | The code for this project is available on GitHub.
                    a(href='https://github.com/MicMetz/death-throes') GitHub Repository


        //div(id='demo' class='ui stacked segment' style='display: none;')
        div(id='demo' class='ui stacked segment' style='display: none;')
            h2(class="ui header")= 'Demo'
            p
                span
                    | The demo for this project is available on the web.
                    a(href='https://webdevgroupcu.org/mime9599/digital-animations/death-throes/dist/') Live Demo

